body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #0e76a8;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    text-align: center;
}

nav a {
    color: #333;
    text-decoration: none;
    margin: 10px;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #fff;
}

nav a i { /* Estilize o ícone */
    margin-right: 5px;
}

nav a:hover {
    background-color: #555;
    color: #fff;
}

section {
    display: none;
    padding: 20px;
}

section.active {
    display: block;
}

